@page "/admin/users"
@page "/admin/users/country/{CountryId:int}"
@using System.Net.Mail

@attribute [Authorize(Policy = "Admin")]

@inject IStringLocalizer<App> Localizer
@inject IToastService ToastService
@inject NavigationManager Navigator
@inject CountryService CountryService
@inject UserService UserService
@inject PersonService PersonService
@inject AppService AppService
@inject IMailSender MailSender

<PageHeading Label="UserAdministration" IconClass="@FontAwesome.User" PageAction="@PageAction.Tools" />

<ListboxSelector OnSelected="OnSelectedCountry" Items="CountryListItems" ItemType="Country" IsVisible="true" SelectedId=CountryId />

@if (Users?.Any() == true)
{
    <div style="padding: 5px 0px;">
        <h2>@(string.Format(Localizer["SendMailToAllUsersIn"], LanguageExtensions.GetLocalizedString(CurrentCountry?.EnglishName)))</h2>
        @if (Principal is not null && People is not null)
        {
            @foreach (var group in PeopleWithUserAccount.MailHolders().MailHrefGroups(Principal.MailHolder(), LanguageExtensions.GetLocalizedString("ModuleRegistry", Language)))
            {
                <AppButton Href="@group.Href" Label="@group.Subset" IconName="@FontAwesome.Mail" AlwaysShowLabel=true />
            }
        }
    </div>
    <div style="padding: 5px 0px;">
        <h2>@(string.Format(Localizer["SendMailToAllWithEmail"], LanguageExtensions.GetLocalizedString(CurrentCountry?.EnglishName)))</h2>
        @if (Principal is not null && People is not null)
        {
            @foreach (var group in PeopleWithUserAccount.MailHolders().MailHrefGroups(Principal.MailHolder(), LanguageExtensions.GetLocalizedString("ModuleRegistry", Language)))
            {
                <AppButton Href="@group.Href" Label="@group.Subset" IconName="@FontAwesome.Mail" AlwaysShowLabel=true />
            }
        }
    </div>
    <div style="padding: 5px 0px;">
        <h2>@Localizer["SendTestMail"]</h2>
        <AppButton Label="Send" OnClickCallback="SendTestMail" IconName="@FontAwesome.Mail" AlwaysShowLabel=true />
    </div>
}
@code {
    [CascadingParameter] private Task<AuthenticationState>? AuthenticationStateTask { get; set; }
    [Parameter] public int CountryId { get; set; }

    private ClaimsPrincipal? Principal;
    private IEnumerable<ListboxItem>? CountryListItems;
    private IEnumerable<User>? Users;
    private IEnumerable<Person>? People;
    private IEnumerable<Person> PeopleWithEmail => People?.Where(p => p.EmailAddresses.HasValue()) ?? [];
    private IEnumerable<Person> PeopleWithUserAccount => People?.Where(p => p.IsActiveUser()) ?? [];
    private Country? CurrentCountry;

    private async Task SendTestMail()
    {
        var message = new MailMessage(new MailAddress("moduleregistry@tellurian.se", Localizer["AppName"]), new MailAddress(Principal!.EmailAddess(), Principal!.GivenName()))
        {
            Subject = "Test",
            Body = "This is a test message.",
            Sender = new MailAddress("moduleregistry@tellurian.se", Localizer["AppName"])
        };
        var result = await MailSender.SendMailMessageAsync(message);
        ToastService.ShowSuccessOrFailure(Localizer, result, "TestMail");
    }

    protected override async Task OnInitializedAsync()
    {
        Principal = await AuthenticationStateTask.GetClaimsPrincipalAsync();
        CountryListItems = await CountryService.ListboxItemsAsync(Principal);
    }

    protected override async Task OnParametersSetAsync()
    {
        if (CountryId == 0) CountryId = Principal.CountryId();
        CurrentCountry = await CountryService.FindById(CountryId);
        if (CurrentCountry is null) return;
        People = await PersonService.GetAllInCountryAsync(Principal, CountryId);

    }

    private void OnSelectedCountry(int id)
    {
        if (id > 0)
        {
            AppService.LastCountryId = id;
            Navigator.NavigateTo($"/admin/users/country/{id}");
        }
    }

    string Language => CurrentCountry is null ? "en" : CurrentCountry.Languages.Items().First();

}
