@page "/Users/Confirm/"

@inject IStringLocalizer<App> Localizer
@inject NavigationManager Navigator

@inject UserService UserService


@if (User is null)
{
    <h1>@Localizer["UserConfirmationFailed"]</h1>
    @if (EmailAddress is null)
    {
        <p>@Localizer["NoEmailProvided"].</p>
    }
    @if (ObjectId is null)
    {
        <p>@Localizer["NoRegistrationIdIsProvided"].</p>
    }
    @if (EmailAddress.HasValue() && ObjectId.HasValue())
    {
        <p>@string.Format(Localizer["NoUserFoundWithEmailAndRegistrationId"].Value, EmailAddress, ObjectId).</p>
    }
}
else if (PasswordCreated)
{
    <h1>@Localizer["UserConfirmed"]</h1>
    <p>@string.Format(Localizer["UserWelcome"].Value, User.Person.FirstName)</p>
    <p>@Localizer["YouMayNowLogin"].</p>
}
else
{
    <h1>@Localizer["CreatePassword"]</h1>
    <PasswordPolicyView />
    <EditForm Model="@Password" OnValidSubmit="@OnValidSubmit" Class="row g-3">
        <DataAnnotationsValidator />
        <AppInputText Width="2" Label="Password" @bind-Value="Password.Value" InputType="password" />
        <AppInputText Width="2" Label="ConfirmPassword" @bind-Value="Password.ConfirmValue" InputType="password" />
        <div class="col-12">
            <button type="submit" class="btn btn-primary">@Localizer["Save"]</button>
        </div>
    </EditForm>
}
@code {
    private string? ObjectId;
    private string? EmailAddress;
    private User? User;
    private Password Password = new Password();
    private Services.PasswordPolicy Policy = new PasswordPolicy();


    protected override async Task OnInitializedAsync()
    {
        var hasObjectId = Navigator.TryGetQueryStringValue<string?>("objectid", out ObjectId);
        var hasEmail = Navigator.TryGetQueryStringValue<string?>("email", out EmailAddress);
        if (hasEmail && hasObjectId)
        {
            User = await UserService.FindOrCreateAsync(EmailAddress, ObjectId);
        }
    }

    private async Task OnValidSubmit()
    {
        User = await UserService.SetPasswordAsync(EmailAddress, ObjectId, Password.Value);
    }

    private bool PasswordCreated => User is not null && User.PasswordResetAttempts == 0;
}
