@inject IStringLocalizer<App> Localizer
@inject IJSRuntime JSRuntime

@if (Href.HasValue())
{
    @if (OpenInNewTab)
    {
        <button class="@ButtonClass" disabled="@Disabled" @onclick="@NavigateToNewTab"><span class="@IconClass" />&nbsp;@LabelText&nbsp;@ObjectNameLocalized</button>
    }
    else
    {
        <a class="@ButtonClass" style="@DisablePointerEvents" href="@Href"><span class="@IconClass" />&nbsp;@LabelText</a>
    }
}
else if (IsSubmit)
{
    <button type="submit" class="@ButtonClass" disabled="@Disabled"><span class="@IconClass" />&nbsp;@LabelText&nbsp;@ObjectNameLocalized</button>
}
else
{
    <button class="@ButtonClass" disabled="@Disabled" @onclick="@(() => OnClickCallback.InvokeAsync(OnClickParameter))"><span class="@IconClass" />&nbsp;@LabelText&nbsp;@ObjectNameLocalized</button>
}
@code {
    [Parameter] public string Label { get; set; } = "Button";
    [Parameter] public string? ObjectName { get; set; }
    [Parameter] public string? Href { get; set; }
    [Parameter] public EventCallback<int> OnClickCallback { get; set; }
    [Parameter] public bool IsDisabled { get; set; }
    [Parameter] public string? Type { get; set; }
    [Parameter] public string IconName { get; set; } = string.Empty;
    [Parameter] public bool IsSubmit { get; set; }
    [Parameter] public int OnClickParameter { get; set; }
    [Parameter] public bool OpenInNewTab { get; set; }

    protected override void OnParametersSet()
    {
        if (string.IsNullOrWhiteSpace(IconName))
        {
            IconName = Label ?? "info";
        }
    }

    async Task NavigateToNewTab()
    {
        await JSRuntime.InvokeAsync<object>("open", Href, "_blank");
    }


    string ButtonClassType => Type.HasValue() ? Type.ToLowerInvariant() : Labels?.First().ToLowerInvariant() switch
    {
        "add" => "primary",
        "edit" => "primary",
        "ok" => "primary",
        "register" => "primary",
        "upload" => "primary",
        "delete" => "danger",
        "confirmdelete" => "danger",
        "remove" => "danger",
        "save" => "primary",
        "saveall" => "primary",
        "update" => "primary",
        "manage" => "primary",
        _ => "info"
    };
    string LabelText => Labels is not null ? String.Join(' ', Labels.Select(l => Localizer[l])) : string.Empty;
    string[]? Labels => Label.HasValue() ? Label.Split("-") : Type.HasValue() ? Type.AsArray() : "Button".AsArray();
    string LabelOrType => Label ?? Type ?? "Button";
    string? DisablePointerEvents => IsDisabled ? "pointer-events: none" : null;
    string? Disabled => IsDisabled ? "disabled" : null;
    string ButtonClass => $"btn btn-sm btn-{ButtonClassType}";
    string IconClass => FontAwesome.ButtonIcons.ContainsKey(IconName) ? FontAwesome.ButtonIcons[IconName] : IconName.HasValue() ? $"fa fa-{IconName}" : "fa fa-info";
    string ObjectNameLocalized => ObjectName.HasNoValue() ? string.Empty : Localizer[ObjectName].ToString();

}
