@using System.Diagnostics.CodeAnalysis;

@inherits AppInputBase<string?>
@inject IStringLocalizer<App> Localizer

<div class="@WidthCss">
    @if (!string.IsNullOrWhiteSpace(Label))
    {
        <label class="form-control-label" for="@Label">@Localizer[Label]</label>
    }
    <input disabled="@IsDisabled" id="@Label" style="height: 38px" class="form-control @CssClass"  type="color" @bind="@CurrentValue" />
    @if (ValidationFor is not null)
    {
        <div class="form-control-validation">
            <ValidationMessage For="@ValidationFor" />
        </div>
    }
</div>

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            if (CurrentValue is null || CurrentValue.Length < 7) CurrentValue = "#FFFFFF";
        }
    }

    protected override bool TryParseValueFromString(string? value, [MaybeNullWhen(false)] out string? result, [NotNullWhen(false)] out string? validationErrorMessage)
    {
        result = value.Max(7);
        if (result is not null) result = result.ToLowerInvariant();
        else result = "#FFFFFF";
        validationErrorMessage = null;
        return true;
    }
}
