@using System.Diagnostics.CodeAnalysis

@inherits AppInputBase<bool>
@inject IStringLocalizer<App> Localizer

<div class="@WidthCss">
    @if (AlignWithFields)
    {
        <br/>
    }
    @if (IsVisible)
    {
        <div class="form-check">
            <input disabled="@IsDisabled" type="checkbox" class="form-check-input @CssClass" id="@Label" @bind="@CurrentValue" />
            @if (!string.IsNullOrWhiteSpace(Label))
            {
                <label class="form-check-label" for="@Label">@LabelText(Localizer)</label>
            }
        </div>
    }
</div>

@code {
    [Parameter] public bool AlignWithFields { get; set; }
    protected override bool TryParseValueFromString(string? value, [MaybeNullWhen(false)] out bool result, [NotNullWhen(false)] out string? validationErrorMessage)
    {
        result = value is not null && (value.Equals("1") || value.Equals("true", StringComparison.OrdinalIgnoreCase));
        validationErrorMessage = null;
        return true;
    }
}
