@using System.Diagnostics.CodeAnalysis;
@using System.Globalization;

@inherits AppInputBase<int>
@inject IStringLocalizer<App> Localizer

<span class="@BootstrapWrapperCss">
    <span class="noprint">
        @if (!string.IsNullOrWhiteSpace(Label))
        {
            <label class="form-control-label" for="@Label">@LabelText(Localizer)</label>
        }
        <select disabled=@IsDisabled style="@Style" class="form-select @CssClass" id="@Label" @bind="CurrentValueAsString">
            @if (ShowPleaseSelect)
            {
                <option value="0">@PleaseSelectText</option>
            }
            @if (Items is not null)
            {
                foreach (var item in Items)
                {
                    <option selected="@Selected(item)" value="@item.Id">@item.Description</option>
                }
            }
        </select>
        @if (ValidationFor is not null)
        {
            <div class="form-control-validation">
                <ValidationMessage For="@ValidationFor" />
            </div>
        }
    </span>
</span>

@code {
    [Parameter] public IEnumerable<ListboxItem>? Items { get; set; }
    [Parameter] public bool ShowPleaseSelect { get; set; }
    [Parameter] public Action<int>? OnSelected { get; set; }
    [Parameter] public int ItemHeight { get; set; }

    string PleaseSelectText => string.IsNullOrWhiteSpace(Label) ? Localizer["Select"].Value : $"{Localizer["Select"]} {Localizer[Label].Value.ToLowerInvariant()}";
    string BootstrapWrapperCss => Width.HasValue ? $"col-md-{Width}" : "col-md-4";

    protected override bool TryParseValueFromString(string? value, [MaybeNullWhen(false)] out int result, [NotNullWhen(false)] out string? validationErrorMessage)
    {
        if (int.TryParse(value, NumberStyles.Integer, CultureInfo.InvariantCulture, out var parsedValue))
        {
            result = parsedValue;
            validationErrorMessage = null;
            OnSelected?.Invoke(result);
            return true;

        }
        else
        {
            result = 0;
            validationErrorMessage = Localizer["NotANumber"].Value;
            return false;
        }
    }

    string? Selected(ListboxItem item) => item.Id == CurrentValue ? "selected" : null;
    string? Style => ItemHeight > 0 ? $"height: {ItemHeight}px; white-space: pre-wrap;" : null;
}
