@inject IStringLocalizer<App> Localizer

@inject OperatingDayService OperatingDayService
@inject CargoService CargoService

@if (Customer is null)
{

}
else
{
    <h3 class="mt-3">@Localizer["CargoFlow"]</h3>
    <div class="col-12" style="border-bottom: 1px solid gray; padding-bottom: 3px">
        <button type="button" class="btn btn-sm btn-secondary" @onclick="AddCargoFlow"><span class="@FontAwesome.Add" /> @AddButtonText</button>
    </div>
    @foreach (var cargo in Customer.StationCustomerCargos)
    {
        <div class="row g-3" style="border-bottom: 1px solid gray; padding-bottom: 3px">
            <AppInputSelect Width="3" @bind-Value="cargo.CargoId" Label="CargoType" ShowPleaseSelect="true" Items="CargoTypeItems" />
            <AppInputSelect Width="2" @bind-Value="cargo.OperatingDayId" Label="Days" ShowPleaseSelect="true" Items="OperatingDayItems" />
            <AppInputSelect Width="2" @bind-Value="cargo.DirectionId" Label="Direction" ShowPleaseSelect="true" Items="DirectionItems" />
            <AppInputNumber Width="1" @bind-Value="cargo.Quantity" Label="Quantity" />
            <AppInputSelect Width="2" @bind-Value="cargo.QuantityUnitId" Label="QuantityUnit" ShowPleaseSelect="true" Items="QuantityUnitItems" />
            <AppInputSelect Width="2" @bind-Value="cargo.ReadyTimeId" Label="@ReadyTimeLabel(cargo)" ShowPleaseSelect="true" Items="ReadyTimeItems" />

            <AppInputText Width="2" @bind-Value="cargo.SpecificWagonClass" Label="OtherWagonClass" />
            <AppInputText Width="3" @bind-Value="cargo.SpecialCargoName" Label="OtherName" />
            <AppInputText Width="3" @bind-Value="cargo.TrackOrArea" Label="OtherTrackOrArea" BackColor="@BackColor(cargo)" TextColor="@BackColor(cargo).TextColor()" />
            <AppInputColor Width="2" @bind-Value="cargo.TrackOrAreaColor" Label="Color" />
            <AppInputNumber Width="1" @bind-Value="cargo.FromYear" Label="FromYear" />
            <AppInputNumber Width="1" @bind-Value="cargo.UptoYear" Label="UptoYear" />

            @if (cargo.Id > 0)
            {
                <div class="col-12">
                    <AppButton Label="Delete" OnClickCallback="(() => Delete(cargo.Id))" />
                </div>
            }
        </div>
    }
}

@code {
    [Parameter] public StationCustomer? Customer { get; set; }
    [Parameter] public IEnumerable<ListboxItem>? CargoTypeItems { get; set; }
    [Parameter] public IEnumerable<ListboxItem>? DirectionItems { get; set; }
    [Parameter] public IEnumerable<ListboxItem>? QuantityUnitItems { get; set; }
    [Parameter] public IEnumerable<ListboxItem>? OperatingDayItems { get; set; }
    [Parameter] public IEnumerable<ListboxItem>? ReadyTimeItems { get; set; }

    void AddCargoFlow()
    {
        if (Customer is not null)
        {
            Customer.StationCustomerCargos.Add(DefaultCustomerCargo);
            StateHasChanged();
        }

    }

    void Delete(int id)
    {
        if (Customer is not null && id > 0)
        {
            Customer.StationCustomerCargos = Customer.StationCustomerCargos.Where(st => st.Id != id).ToList();
            StateHasChanged();
        }
    }

    StationCustomerCargo DefaultCustomerCargo => new StationCustomerCargo { StationCustomerId = Customer!.Id, DirectionId = 1, QuantityUnitId = 4, ReadyTimeId = 1, OperatingDayId = 8 };
    string AddButtonText => $"{Localizer["Add"]} {Localizer["CargoFlow"].ToString().ToLowerInvariant()}";

    string? BackColor(StationCustomerCargo cargo) =>
        cargo is not null && cargo.TrackOrArea.HasValue() && cargo.TrackOrAreaColor.HasValue() && cargo.TrackOrAreaColor != "#ffffff" ? cargo.TrackOrAreaColor :
        Customer is not null && cargo?.TrackOrArea.HasValue() == true && Customer.TrackOrArea.Equals(cargo?.TrackOrArea) && Customer.TrackOrAreaColor.HasValue() ? Customer?.TrackOrAreaColor : null;

    string? TrackOrArea(StationCustomerCargo cargo) =>
        cargo is not null && cargo.TrackOrArea.HasValue() ? cargo.TrackOrArea :
        Customer is not null && Customer.TrackOrArea.HasValue() ? Customer.TrackOrArea : null;

    string? ReadyTimeLabel(StationCustomerCargo cargo) => cargo is null ? null : cargo.IsUnloading() ? "UnloadingReady" : "LoadingReady";
}
