
@inject IStringLocalizer<App> Localizer
@inject IToastService ToastService

@inject DocumentService DocumentService

@if (MayUpload)
{
    <div style="display:flex; flex-direction:row">
        <div class="col-md-3">
            <img src="@IconImageSrc" class="icon" /> @Heading
        </div>
        <div class="col-md-1">
            <button class="btn btn-secondary btn-sm" onclick="document.getElementById('@InputFileId').click()"><span class="@FontAwesome.Upload" /> @Localizer["SelectFile"]</button>
            <InputFile Id="@InputFileId" OnChange="LoadFile" accept="@Accept" hidden />
        </div>
        <div class="col-md-4">
            @MaxSizeText
        </div>
    </div>
}
@code {
    [CascadingParameter] private Task<AuthenticationState>? AuthenticationStateTask { get; set; }
    [Parameter] public string? FileExtension { get; set; }
    [Parameter] public object? DocumentedObject { get; set; }
    [Parameter] public string? Label { get; set; }
    [Parameter] public int? MaxFileSizeKb { get; set; }

    int? DocumentId;
    long MaxFileSize => (MaxFileSizeKb ?? 1024) * 1024;

    protected override void OnParametersSet()
    {
        var owningObject = DocumentService.DocumentedObject(DocumentedObject, FileExtension);
        DocumentId = owningObject.DocumentId;
    }

    async Task LoadFile(InputFileChangeEventArgs e)
    {
        if (IsFileSizeWithinLimits(e.File))
        {
            var principal = await AuthenticationStateTask.GetClaimsPrincipalAsync();
            var result = await DocumentService.SaveAsync(principal, e.File, DocumentedObject, FileExtension, MaxFileSize);
            DocumentId = result.Entity?.Id;
            ToastService.ShowSuccessOrFailure(Localizer, result.Count, $"Upload of {e.File.Name}");

        }
        else
        {
            ToastService.ShowWarning(string.Format(LanguageUtility.CurrentCulture, Localizer["FileExceedsMaxSizeOf"].Value, MaxFileSize));
        }
    }

    string IconImageSrc => $"/images/{FileExtension}.png";
    string InputFileId => $"{Label}{FileExtension}";
    bool MayUpload => FileExtension.IsPermittedFileExtension() && DocumentedObject.IsValidDocumentObject();
    string Accept => $".{FileExtension}";
    string Heading => DocumentId.HasValue ? $"{Localizer["Update"]} {LabelWithFileExtension.ToLowerInvariant()}" : $"{Localizer["Add"]} {LabelWithFileExtension.ToLowerInvariant()}";
    string LabelWithFileExtension => string.IsNullOrWhiteSpace(Label) ? $"{FileExtension}" : $"{Localizer[Label]} ({FileExtension})";
    string MaxSizeText => string.Format(LanguageUtility.CurrentCulture, Localizer.Value("MaxUploadFileSizeKb"), MaxFileSizeKb);

    bool IsFileSizeWithinLimits(IBrowserFile file) => MaxFileSizeKb.HasValue && file.Size <= MaxFileSize;

}