@inject IStringLocalizer<App> Localizer

@if (Customer is null)
{

}
else
{
    <div style="display:flex; flex-direction:row;">
        @if (MayEdit)
        {
            <div style="padding-right: 20pt">
                <AppButton Label="Edit" Href="@FreightCustomerHref(Customer)" />
            </div>
        }
        <div style="font-size:14pt; font-weight: bold">
            @Customer.CustomerName
        </div>
    </div>

    <TableTemplate Items="Customer.ExternalStationCustomerCargos.OrderBy(scc => scc.DirectionId)" RowStyle="ItemStyle">
        <TableHeader>
            <th>@Localizer["CargoType"]</th>
            <th>@Localizer["PackagingUnit"]</th>
            <th style="text-align: center">@Localizer["Days"]</th>
            <th style="text-align: center">@Localizer["Direction"]</th>
            <th>@Localizer["Quantity"]</th>
            <th>@Localizer["OperatingPeriod"]</th>
        </TableHeader>
        <RowTemplate Context="item" >
            <td width="15%">@item.CargoTypeName(CargoTypeItems)</td>
            <td width="10%">@item.PackagingUnit(PackagingUnitsItems)</td>
            <td width="6%" align="center">@item.OperatingDay(OperatingDayItems)</td>
            <td width="6%" align="center">@item.CargoDirection(DirectionItems)</td>
            <td width="12%">@item.Quantity @item.QuantityUnit(QuantityUnitItems)</td>
            <td width="10%">@((item.FromYear ?? item.ExternalStationCustomer.OpenedYear, item.UptoYear ?? item.ExternalStationCustomer.ClosedYear).AsPeriod())</td>
        </RowTemplate>
    </TableTemplate>
}

@code {
    [Parameter] public ExternalStationCustomer? Customer { get; set; }
    [Parameter] public IEnumerable<ListboxItem>? CargoTypeItems { get; set; }
    [Parameter] public IEnumerable<ListboxItem>? PackagingUnitsItems { get; set; }
    [Parameter] public IEnumerable<ListboxItem>? DirectionItems { get; set; }
    [Parameter] public IEnumerable<ListboxItem>? QuantityUnitItems { get; set; }
    [Parameter] public IEnumerable<ListboxItem>? OperatingDayItems { get; set; }
    [Parameter] public IEnumerable<ListboxItem>? ReadyTimeItems { get; set; }
    [Parameter] public bool MayEdit { get; set; }


    string FreightCustomerHref(ExternalStationCustomer? it) => it is null ? string.Empty : $"/ExternalStations/{it.ExternalStationId}/Customers/{it.Id}/Edit";

    string ItemStyle(ExternalStationCustomerCargo item) =>
        item is null ? string.Empty :
        item.IsLoading() ? "background-color: lightyellow" : "background-color: white";
}
        
