@inject IStringLocalizer<App> Localizer
@inject UserState UserState

@if (IsVisible && Items is not null)
{
<div class="form-group">
    <select class="form-control-sm " id="countryid" @bind="Id" @onselect="OnSelectedItem">
        <option value="0">@Label</option>
        @foreach (var item in Items)
        {
            @if (IsSelected(item))
            {
                <option selected value="@item.Id">@item.Description</option>
            }
            else
            {
                <option value="@item.Id">@item.Description</option>
            }
        }
    </select>
    <button disabled="@(Id == 0)" class="btn btn-primary" @onclick="OnSelectedItem">@Localizer["Ok"]</button>
</div>
}

@code {
    [Parameter] public string? ItemType { get; set; }
    [Parameter] public EventCallback<int> OnSelected { get; set; }
    [Parameter] public IEnumerable<ListboxItem>? Items { get; set; }
    [Parameter] public bool IsVisible { get; set; }
    private int Id;

    private async Task OnSelectedItem()
    {
        await OnSelected.InvokeAsync(Id);
    }

    private bool IsSelected(ListboxItem item) => Items is not null && (item.Id == Id || Items.Count() == 1);
    private string Label => $"{Localizer["Select"]} {LocalizedItemType.ToLowerInvariant()}";
    private string LocalizedItemType => ItemType is null ? string.Empty : Localizer[ItemType].Value;
}
