@inject IStringLocalizer<App> Localizer
@inject PageHistory PageHistory

<div>
    <div class="flex-container">
        <div style="flex-grow: 4">
            <span class="@IconClass" /> @Localizer.HeadingText(Label, ObjectName, Owner, PageAction)
        </div>
        <div style="flex-grow: 1; text-align:right">
            <span class="fa fa-arrow-alt-circle-left" @onclick="@Back" />
            @if (IsHelpAvailable)
            {
                <span class="fa fa-question-circle" @onclick="ToggleHelp" />
            }
        </div>
    </div>
    <ContentView ContentName="@HelpContentName" IsHidden="@HelpIsHidden" BackgroundColor="#ffffcc" />
    <hr />
</div>
    @code {
        [Parameter] public string? IconClass { get; set; }
        [Parameter] public string? Label { get; set; }
        [Parameter] public string? ObjectName { get; set; }
        [Parameter] public object? Owner { get; set; }
        [Parameter] public PageAction PageAction { get; set; }
        [Parameter] public string? HelpContext { get; set; }

        bool HelpIsVisible;
        bool HelpIsHidden => !HelpIsVisible;
        bool IsHelpAvailable => HelpContext.HasValue();
        string? HelpContentName => string.IsNullOrWhiteSpace(HelpContext) ? null : $"Help{HelpContext}";


        void ToggleHelp()
        {
            HelpIsVisible = !HelpIsVisible;
        }

        void Back()
        {
            PageHistory.NavigateBack();
        }

    }
