
@inject IStringLocalizer<App> Localizer

<h4>@Localizer["PasswordPolicy"]</h4>
<p>@Localizer["PasswordMustFulfilTheseRequirements"]</p>
<ul>
    <li>@MimimumLengthPolicy</li>
    <li>@LettersPolicy</li>
    <li>@DigitsPolicy</li>
    <li>@SpecialPolicy</li>
</ul>
@code {
    string MimimumLengthPolicy => string.Format(Localizer["PasswordMustHaveNumberOfCharacters"].Value, PasswordPolicy.MinimumLength);
    string LettersPolicy => string.Format(Localizer["PasswordMinimumOfThese"].Value, PasswordPolicy.Letters.Minimum, PasswordPolicy.Letters.Characters, Localizer[nameof(PasswordPolicy.Letters)]);
    string DigitsPolicy => string.Format(Localizer["PasswordMinimumOfThese"].Value, PasswordPolicy.Digits.Minimum, PasswordPolicy.Digits.Characters, Localizer[nameof(PasswordPolicy.Digits)]);
    string SpecialPolicy => string.Format(Localizer["PasswordMinimumOfThese"].Value, PasswordPolicy.Special.Minimum, PasswordPolicy.Special.Characters, Localizer["SpecialCharacters"]);

}
