@inject IStringLocalizer<App> Localizer

@if (Stations is not null && MayEdit)
{
    if (AnyModules)
    {
        <div>
            <AppButton Label="Add" Href="@StationEditHref(0)" />
        </div>
    }
    else
    {
        <div class="col-md-8" style="background-color:lightgoldenrodyellow;padding:1px 0px 1px 0px; margin: 3px 0px 3px 0px">
            <span class="fa fa-exclamation-circle" /> @Localizer["NOTE: Add a module first in order to then extend it by adding a station!"]
        </div>
    }
}
<TableTemplate Items="Stations">
    <TableHeader>
        <th>@Localizer["Name"]</th>
        <th>@Localizer["Signature"]</th>
        <th>@Localizer["IsTerminus"]</th>
        <th>@Localizer["IsShadowStation"]</th>
        <th>@Localizer["Documents"]</th>
        <th>@Localizer["Actions"]</th>

    </TableHeader>
    <RowTemplate Context="station">
        <td>@station.FullName</td>
        <td>@station.Signature</td>
        <td align="center">@station.IsTerminus.AsYesNo()</td>
        <td align="center">@station.IsShadow.AsYesNo()</td>
        <td align="center">
            <DocumentLink DocumentId="station.PdfInstructionId" FileExtension="pdf" />
        </td>
        <td>
            @if (MayEdit)
            {
                <AppButton Label="Edit" Href="@StationEditHref(station.Id)" />
            }
            <AppButton Label="FreightCustomers" Href="@CargoCustomersHref(station.Id)" IconName="Customer" />
        </td>
    </RowTemplate>
</TableTemplate>


@code {
    [Parameter] public IEnumerable<Station>? Stations { get; set; }
    [Parameter] public bool MayEdit { get; set; }
    [Parameter] public bool AnyModules { get; set; }
    [Parameter] public int OwningPersonId { get; set; }
    [Parameter] public int OwningGroupId { get; set; }

    string StationEditHref(int id) => OwningGroupId > 0 ?
           $"/Stations/{id}/Edit/GroupOwned/{OwningGroupId}" :
           $"/Stations/{id}/Edit/PersonOwned/{OwningPersonId}";

    string CargoCustomersHref(int id) => OwningGroupId > 0 ?
        $"/Stations/{id}/Customers/GroupOwned/{OwningGroupId}" :
        $"/Stations/{id}/Customers/PersonOwned/{OwningPersonId}";

}
