@typeparam TItem

@inject IStringLocalizer<App> Localizer

@if (Items is null)
{
    <ActionMessage Label="GettingData" AlertType="Wait" />
}
else if (Items.Count() == 0 && !HideNoRecordsToDisplay)
{
    <ActionMessage Label="NoRecordsToDisplay" />
}
else
{
    <table class="table table-sm">
        <thead>
            <tr>
                @TableHeader
                @if (RowEditTemplate is not null)
                {
                    <th>@Localizer["Actions"]</th>
                }
            </tr>
        </thead>
        <tbody>
            @if (RowTemplate is not null)
            {
                @foreach (var item in Items)
                {
                    @if (RowEditTemplate is not null && IsEditItem(item))
                    {
                        <tr  @key="@ItemKey(item)">
                            <td colspan="@EditColspan">
                                @RowEditTemplate(item)
                            </td>
                            <td width="100px">
                                <AppButton Label="Save" OnClickCallback="@(() => Save(ItemKey(item)))" IsDisabled="IsReadOnly" />
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr @key="@ItemKey(item)" style="@ItemStyle(item)">
                            @RowTemplate(item)
                            @if (RowEditTemplate is not null)
                            {
                                <td>
                                    <AppButton Label="Edit" OnClickCallback="(() => Edit(ItemKey(item)))" IsDisabled="IsReadOnly" />
                                </td>
                            }
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
}

@code {
    [Parameter] public RenderFragment? TableHeader { get; set; }
    [Parameter] public RenderFragment<TItem>? RowTemplate { get; set; }
    [Parameter] public RenderFragment<TItem>? RowEditTemplate { get; set; }
    [Parameter] public IEnumerable<TItem>? Items { get; set; }
    [Parameter] public bool HideNoRecordsToDisplay { get; set; }
    [Parameter] public Func<TItem, string>? Key { get; set; }
    [Parameter] public Func<TItem, string>? RowStyle { get; set; }
    [Parameter] public int EditColspan { get; set; } = 2;
    [Parameter] public bool MayEdit { get; set; } = true;

    bool IsReadOnly => !MayEdit;
    string ItemKey(TItem item) => Key is null ? item.GetHashCode().ToString() : Key(item);
    string ItemStyle(TItem item) => RowStyle is null ? string.Empty : RowStyle(item);


    string? EditedKey = null;
    bool IsEditItem(TItem item) => EditedKey is not null && ItemKey(item) == EditedKey;

    void Edit(string key)
    {
        EditedKey = key;
    }

    void Save(string key)
    {
        EditedKey = null;
    }
}