@inject IStringLocalizer<App> Localizer
<Pocket BackColor="@BackColor">
    <div class="errorcard" style="color: @TextColor">
        <h1>@Localizer["WagonError"]</h1>
        <ul>
            <li>@Localizer["WrongEpochTheme"]</li>
            <li>@Localizer["NonStandardWheelset"]</li>
            <li>@Localizer["WrongBackToBackDistance"]</li>
            <li>@Localizer["RollsSluggishly"]</li>
            <li>@Localizer["NonStandardCoupling"]</li>
            <li>@Localizer["CouplingNotFixed"]</li>
            <li>@Localizer["CouplingTooLowOrHigh"]</li>
            <li>@Localizer["WagonTooLightOrHeavy"]</li>
            <li>@Localizer["WagonEasilyDerails"]</li>
            <li>@Localizer["WagonHasLooseParts"]</li>
            <li>@Localizer["FootstepsTooWide"]</li>
            <li>
                @Localizer["OtherPleaseSpecify"]:<br /><br />
                ........................................
            </li>
        </ul>
        <p>@Localizer["Signature"]: ..............................</p>
    </div>
</Pocket>

@code {
    [Parameter] public bool PrintBlackAndWhite { get; set; }

    string BackColor => PrintBlackAndWhite ? "white" : "red";
    string TextColor => PrintBlackAndWhite ? "black" : "white";
}
