@using ModulesRegistry.Services.Projections

@page "/ExternalStations/Customers"

@attribute [Authorize(Policy = "User")]

@inject IStringLocalizer<App> Localizer

@inject StationCustomerService StationCustomerService
@inject ExternalStationService ExternalStationService

<PageHeading ObjectName="FreightCustomers" IconClass="@FontAwesome.Customer" PageAction="PageAction.List" />

<TableTemplate Items="FreightCustomers?.OrderBy(fc => fc.Station.FullName).ThenBy(fc => fc.CustomerName)">
    <TableHeader>
        <th>@Localizer["Station"]</th>
        <th>@Localizer["Name"]</th>
        <th>@Localizer["Country"]</th>
        <th>@Localizer["Region"]</th>
        <th>@Localizer["Supplying"]</th>
        <th>@Localizer["Consuming"]</th>
        <th>@Localizer["Actions"]</th>
    </TableHeader>
    <RowTemplate Context="item">
        <td>@StationSymbol(item) @item.Station.FullName</td>
        <td>@item.CustomerName @item.OpenPeriod</td>
        <td>@Flag(item) @item.Country.EnglishName.AsLocalized()</td>
        <td style="color: @item.Region.TextColor; background-color: @item.Region.BackColor; font-weight: bold">@item.Region.Name</td>
        <td>@item.SupplyingCargo</td>
        <td>@item.ConsumingCargo</td>
        <td>
            @if (item.Station.IsExternal)
            {
                <AppButton Label="Show" Href="@ExternalHref(item.Station.Id, item.Id)" />
            }
            else
            {
                <AppButton Label="Show" Href="@InternalHref(item.Station.Id)" />
            }
        </td>
    </RowTemplate>
</TableTemplate>

@code {
    [CascadingParameter] private Task<AuthenticationState>? AuthenticationStateTask { get; set; }

    ClaimsPrincipal? Principal;
    IEnumerable<FreightCustomerInfo>? FreightCustomers;
    IEnumerable<FreightCustomerInfo>? ExternalFreightCustomers;
    IEnumerable<FreightCustomerInfo>? StationFreightCustomers;

    protected override async Task OnInitializedAsync()
    {
        Principal = await AuthenticationStateTask.GetClaimsPrincipalAsync();
        ExternalFreightCustomers = await ExternalStationService.CustomersAsync(Principal, 0);
        StationFreightCustomers = await StationCustomerService.CustomersAsync(Principal, 0);
        FreightCustomers = ExternalFreightCustomers.Concat(StationFreightCustomers);
    }

    string InternalHref(int stationId) => $"Stations/{stationId}/Customers";
    string ExternalHref(int stationId, int customerId) => $"ExternalStations/{stationId}/Customers/{customerId}";
    MarkupString StationSymbol(FreightCustomerInfo me) => new(me.Station.IsExternal ? "<span class=\"fa fa-globe-europe\" />" : "<span class=\"fa fa-school\" />");
    MarkupString Flag(FreightCustomerInfo me) => new(string.IsNullOrWhiteSpace(me.Country.DomainSuffix) ? string.Empty : $"<img src=\"images/flags/{me.Country.DomainSuffix}.png\" />");
}
