@page "/Modules/{id:int}/Transfer/PersonOwned/{owningPersonId:int}"
@page "/Modules/{id:int}/Transfer/GroupOwned/{owningGroupId:int}"

@attribute [Authorize(Policy = "User")]

@inject IStringLocalizer<App> Localizer
@inject IToastService ToastService

@inject ModuleService ModuleService
@inject ModuleOwnershipService ModuleOwnershipService
@inject PersonService PersonService
@inject GroupService GroupService
@inject CountryService CountryService

@if (Module is null)
{
    <PageHeading Label="TransferOwnership" IconClass="@FontAwesome.Module" PageAction="PageAction.List" />
    <ActionMessage Label="ModuleOwnershipsNotFound" AlertType="´Warning" />
}
else
{
    <PageHeading Label="TransferOwnership" ObjectName="@Module.FullName" IconClass="@FontAwesome.Module" PageAction="PageAction.List" />

    <h2>@Module.FullName</h2>

    <TableTemplate Items="Module.ModuleOwnerships">
        <TableHeader>
            <th>@Localizer["Owner"]</th>
            <th>@Localizer["OwnedPercent"]</th>
            <th>@Localizer["Actions"]</th>
        </TableHeader>
        <RowTemplate Context="item">
            <td>@item.OwnerName()</td>
            <td>@item.OwnedShareAndPercentage(Localizer)</td>
            <td>
                @if (item.IsOwningPerson(OwningPersonId))
                {
                    <AppButton Label="Transfer" OnClickCallback="(() => TransferOwnership(item))" />
                }
                @if (item.IsAssistantOnly())
                {
                    <AppButton Label="Remove" OnClickCallback="(() => RemoveAssistant(item))" />

                }
            </td>
        </RowTemplate>
    </TableTemplate>

    @if (NewOwnership is not null)
    {
        <ListboxSelector OnSelected="OnSelectedCountry" Items="Countries" ItemType="Country" IsVisible="true" SelectedId=PersonsCountryId />

        <EditTemplate Item="NewOwnership" OnValidSubmit="OnValidSubmit">
            <Inputs>
                <AppInputSelect Width="2" Label="TransferredShare" Items="TransferSharesItems(OwnershipToTransfer)" @bind-Value="SelectedTransferShare" />
                <AppInputSelectNullable Width="3" Label="NewPersonalOwner" Items="Persons" @bind-Value="NewOwnership.PersonId" ShowNoneOption=true IsDisabled="@IsPersonOwnerNotSelectable(NewOwnership)" />
                <AppInputSelectNullable Width="3" Label="NewGroupOwner" Items="Groups" @bind-Value="NewOwnership.GroupId" ShowNoneOption=true IsDisabled="@IsGroupOwnerNotSelectable(NewOwnership)"/>
            </Inputs>
        </EditTemplate>
    }
}

@code {
    [CascadingParameter] private Task<AuthenticationState>? AuthenticationStateTask { get; set; }
    [Parameter] public int Id { get; set; }
    [Parameter] public int OwningPersonId { get; set; }
    [Parameter] public int OwningGroupId { get; set; }


    ClaimsPrincipal? Principal;
    ModuleOwnershipRef? OwnershipRef;
    Module? Module;
    ModuleOwnership? OwnershipToTransfer;
    ModuleOwnership? NewOwnership;
    IEnumerable<ListboxItem> Countries = [];
    IEnumerable<ListboxItem> Persons = [];
    IEnumerable<ListboxItem> Groups = [];
    int PersonsCountryId;

    protected override async Task OnParametersSetAsync()
    {
        Principal = await AuthenticationStateTask.GetClaimsPrincipalAsync();
        OwnershipRef = GetOwnershipRef;
        PersonsCountryId = await GetCurrentOwnerCountryId();
        Persons = await PersonService.ListboxItemsAsync(Principal, PersonsCountryId);
        Groups = await GroupService.ListboxItemsAsync(Principal, PersonsCountryId);
        Countries = await CountryService.ListboxItemsAsync(Principal, true, true);
        await GetModule();
    }

    private async Task GetModule()
    {
        Module = await ModuleService.FindByIdAsync(Principal, Id, OwnershipRef!);
    }

    async Task<int> GetCurrentOwnerCountryId()
    {
        var countryId = Principal.CountryId();
        if (OwningGroupId > 0)
        {
            var group = await GroupService.FindByIdAsync(Principal, OwningGroupId);
            if (group is not null) return group.CountryId;
        }
        else if (OwningPersonId > 0)
        {
            var person = await PersonService.FindByIdAsync(Principal, OwningPersonId);
            if (person is not null) return person.CountryId;
        }
        return countryId;
    }

    ModuleOwnershipRef GetOwnershipRef =>
    OwningGroupId > 0 ? ModuleOwnershipRef.Group(OwningGroupId) :
        OwningPersonId > 0 ? ModuleOwnershipRef.Person(OwningPersonId) :
        Principal.OwnerRef();

    void TransferOwnership(ModuleOwnership ownership)
    {
        OwnershipToTransfer = ownership;
        NewOwnership = new ModuleOwnership { ModuleId = ownership.ModuleId };
    }

    async Task OnValidSubmit()
    {
        if (NewOwnership is null) return;
        if (NewOwnership.PersonId > 0 && NewOwnership.GroupId > 0) { 
            ToastService.ShowError(Localizer["OwnerMustBeEitherAPersonOrAGroup"]);
            return;
        }
        NewOwnership.OwnedShare = TransferredShare.Percentage;
        if (NewOwnership.IsAssistantOnly())
        {
            var result = await ModuleOwnershipService.AddAssistantAsync(Principal, NewOwnership);
            if (result.Entity is not null) Module = result.Entity;
            ToastService.ShowSuccessOrFailure(Localizer, result.Count, result.Message);
        }
        else if (OwnershipToTransfer.HasPersonOrGroupOwner() && NewOwnership.HasPersonOrGroupOwner() && OwnershipRef is not null && SelectedTransferShare >= 0)
        {
            var result = await ModuleOwnershipService.TransferOwnershipAsync(Principal, OwnershipToTransfer, NewOwnership);
            if (result.Entity is not null) Module = result.Entity;
            ToastService.ShowSuccessOrFailure(Localizer, result.Count, result.Message);
        }
        StateHasChanged();
    }

    (int Index, double Percentage) TransferredShare => TransferShares.Single(ts => ts.Index == SelectedTransferShare);

    async Task RemoveAssistant(ModuleOwnership ownership)
    {
        var result = await ModuleOwnershipService.RemoveAssistantAsync(Principal, ownership);
        await GetModule();
    }

    async Task OnSelectedCountry(int countryId)
    {
        PersonsCountryId = countryId;
        Persons = await PersonService.ListboxItemsAsync(Principal, PersonsCountryId);
    }

    IEnumerable<ListboxItem> TransferSharesItems(ModuleOwnership? ownership) =>
        ownership is null ? Array.Empty<ListboxItem>() :
        TransferShares.Where(ts => ts.Percentage <= ownership.OwnedShare).Select(ts => new ListboxItem(ts.Index, ts.Percentage > 0 ? $"1/{ts.Index} ({ts.Percentage * 100:F0}%)" : Localizer["AssistantOnly"].Value));

    int SelectedTransferShare;
    static (int Index, double Percentage)[] TransferShares => new[] { (1, 1.00), (2, 0.50), (3, 1.0 / 3.0), (4, 0.25), (5, 0.20), (6, 0) };

    bool IsPersonOwnerNotSelectable(ModuleOwnership ownership) => ownership.GroupId.HasValue || SelectedTransferShare == 0 || (OwnershipToTransfer?.GroupId > 0 && SelectedTransferShare != 1);
    bool IsGroupOwnerNotSelectable(ModuleOwnership ownership) => ownership.PersonId.HasValue || SelectedTransferShare != 1;

}
