@page "/layouts/{id:int}/modules"

@attribute [Authorize(Policy = "User")]

@inject IStringLocalizer<App> Localizer
@inject IJSRuntime JSRuntime

@inject MeetingService MeetingService
@inject LayoutParticipantService LayoutParticipantService
@inject LayoutService LayoutService

<PageHeading Label="RegisteredModules" IconClass="@FontAwesome.Module" PageAction="PageAction.List" />
@if (LayoutParticipants is null)
{
    <ActionMessage Label="FetchingData" />
}
else if (LayoutParticipants.Count() == 0)
{
    <ActionMessage Label="NoParticipantsRegistered" />
}
else
{
    @if (IsOrganiser)
    {
        <div style="padding: 10px 0px">
            <MailToButton Recipients="LayoutParticipants.ParticipantsMails()" Sender="Principal!.Sender()" Subject="@Layout.DescriptionWithTheme()" />
        </div>
    }
    @foreach (var participant in LayoutParticipants.OrderBy(mp => mp.Person.Name()))
    {
        @if (participant.AllLayoutModules(LayoutModules).Any())
        {
            <TableTemplate Items="participant.AllLayoutModules(LayoutModules).OrderBy(lm => lm.Module.FullName)" HideNoRecordsToDisplay="true" >
                <TableHeader>
                    <th width="70%">@participant.Person.Name(), @participant.Person.CityName</th>
                    <th width="120px">@Localizer["RegistrationTime"]</th>
                    <th width="100px" align="center">@Localizer["IsStation"]</th>
                    <th class="noprint">@Localizer["Actions"] </th>
                </TableHeader>
                <RowTemplate Context="item">
                    <td>@item.Module.FullName</td>
                    <td width="120px">@item.RegisteredTime.ToString("d")</td>
                    <td width="100px" align="center">@item.HasLayoutStation().AsYesOrNo()</td>
                    <td class="noprint">
                        @if (item.HasLayoutStation())
                        {
                            <AppButton Label="Waybills" Title="InternalWaybills" Href="@WaybillsHref(item)" />
                        }
                    </td>
                </RowTemplate>
            </TableTemplate>

        }
        else
        {
            <div style="margin: 10px 0px; padding: 4px">
                <span style="font-weight: bold; ">@participant.Person.Name(), @participant.Person.CityName</span>: @Localizer["NoModulesRegistered"]
            </div>
        }
    }
}


@code {
    [CascadingParameter] private Task<AuthenticationState>? AuthenticationStateTask { get; set; }
    [Parameter] public int Id { get; set; }

    ClaimsPrincipal? Principal;
    Layout? Layout;
    IEnumerable<LayoutParticipant>? LayoutParticipants;
    IEnumerable<LayoutStation>? LayoutStations;
    IEnumerable<LayoutModule>? LayoutModules;

    protected override async Task OnParametersSetAsync()
    {
        Principal = await AuthenticationStateTask.GetClaimsPrincipalAsync();
        Layout = await LayoutService.GetLayoutAsync(Principal, Id);
        LayoutParticipants = await LayoutParticipantService.GetAllForLayout(Principal, Id);
        LayoutModules = LayoutParticipants is null ? [] : LayoutParticipants.SelectMany(lp => lp.LayoutModules).ToList();
        LayoutStations = LayoutParticipants is null ? []: LayoutParticipants.SelectMany(lp => lp.LayoutStations).ToList();
    }

    bool IsParticipant => LayoutParticipants is not null && LayoutParticipants.Any(lp => lp.PersonId == Principal.PersonId());
    bool IsOrganiser => Layout is not null && (Principal.IsGlobalAdministrator() || Principal.IsCountryAdministratorInCountry(Layout.Meeting.OrganiserGroup.CountryId) || Layout.Meeting.OrganiserGroup.GroupMembers.Any(gm => gm.Id == Principal.PersonId() ));

    string WaybillsHref(LayoutModule it) => $"reports/waybills/layout/{it.LayoutParticipant.LayoutId}/station/{LayoutStation(it.LayoutStationId)?.StationId}";

    LayoutStation? LayoutStation(int? id) => id is null || LayoutStations is null ? null : LayoutStations.SingleOrDefault(ls => ls.Id == id);

    async Task NavigateToNewTab(LayoutModule it)
    {
        await JSRuntime.InvokeAsync<object>("open", WaybillsHref(it), "_blank");
    }
}
