@page "/layouts/{id:int}/modules"

@attribute [Authorize(Policy = "User")]

@inject IStringLocalizer<App> Localizer
@inject IJSRuntime JSRuntime

@inject MeetingService MeetingService
@inject LayoutParticipantService LayoutParticipantService
@inject LayoutService LayoutService

<PageHeading Label="@PageHeadingText" IconClass="@FontAwesome.Module" PageAction="PageAction.List" />
@if (LayoutParticipants is null)
{
    <ActionMessage Label="FetchingData" />
}
else if (LayoutParticipants.Count() == 0)
{
    <ActionMessage Label="NoParticipantsRegistered" />
}
else
{
    <h4>
        @string.Format(Localizer["NumberParticipantsRegistered"], FilteredParticipants!.Count()),
        @string.Format(Localizer["NumberModulesRegistered"], FilteredParticipants!.Sum(lp => lp.LayoutModules.Count())).
    </h4>
    @if (IsOrganiser)
    {
        <AppInputCheck Label="OnlyThoseWithModules" @bind-Value="OnlyThoseWithModules" ShowLabelWhenPrinting="OnlyThoseWithModules" />
        <AppInputCheck Label="OnlyThoseWithOperationsPlaces" @bind-Value="OnlyThoseWithOperationsPlaces" ShowLabelWhenPrinting="OnlyThoseWithOperationsPlaces" />

        <div style="padding: 10px 0px">
            <MailToButton Recipients="FilteredParticipants!.ParticipantsMails()" Sender="Principal!.Sender()" Subject="@Layout.DescriptionWithTheme()" Label="@SendMailLabel" />
            <MailCopyButton Recipients="FilteredParticipants!.ParticipantsMails()" Label="@CopyMailLabel" />
            @if (Layout is not null)
            {
                <AppButton Label="RegisterOrModifyParticipation" Href="@($"meetings/{Layout.MeetingId}/register")" IconName="@FontAwesome.People" />
            }
        </div>
    }
    @foreach (var participant in FilteredParticipants!.OrderBy(mp => mp.Person.Name()))
    {
        @if (participant.AllLayoutModules(LayoutModules).Any())
        {
            <TableTemplate Items="participant.AllLayoutModules(LayoutModules).OrderBy(lm => lm.Module.FullName)" HideNoRecordsToDisplay="true">
                <TableHeader>
                    <th width="30%">@ParticipantNameAndMore(participant)</th>
                    <th width="50%">@participant.MeetingParticipant.Participates(Localizer)</th>
                    <th width="120px">@Localizer["RegistrationTime"]</th>
                    <th class="noprint">@Localizer["Actions"] </th>
                </TableHeader>
                <RowTemplate Context="item">
                    <td>@item.Module.FullName</td>
                    <td>@item.Module.Info()</td>
                    <td width="120px">@item.RegisteredTime.ToString("d")</td>
                    <td class="noprint">
                        @if (item.HasCargoCustomers())
                        {
                            <AppButton Label="InternalFreights" Href="@WaybillsHref(item)" />
                        }
                    </td>
                </RowTemplate>
            </TableTemplate>
        }
        else
        {
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th width="30%">@ParticipantNameAndMore(participant)</th>
                        <th width="50%">@participant.MeetingParticipant.Participates(Localizer)</th>
                        <th width="120px">@Localizer["RegistrationTime"]</th>
                        <th class="noprint">@Localizer["Actions"] </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="1">@Localizer["NoModulesRegistered"]</td>
                        <td>-</td>
                        <td width="120px">@participant.MeetingParticipant.RegistrationTime.ToString("d")</td>
                        <td class="noprint"></td>
                    </tr>
                </tbody>
            </table>
        }
    }
}


@code {
    [CascadingParameter] private Task<AuthenticationState>? AuthenticationStateTask { get; set; }
    [Parameter] public int Id { get; set; }

    ClaimsPrincipal? Principal;
    Meeting? Meeting;
    Layout? Layout;
    IEnumerable<LayoutParticipant>? LayoutParticipants;
    IEnumerable<LayoutParticipant>? FilteredParticipants =>
        OnlyThoseWithOperationsPlaces ? LayoutParticipants?.Where(lp => lp.LayoutStations.Count > 0) :
        OnlyThoseWithModules ? LayoutParticipants?.Where(lp => lp.LayoutModules.Count > 0) :
        LayoutParticipants;
    IEnumerable<LayoutStation>? LayoutStations;
    IEnumerable<LayoutModule>? LayoutModules;
    bool IsOrganiser;
    bool OnlyThoseWithModules;
    bool OnlyThoseWithOperationsPlaces;
    bool HasParticipantsFromDifferentCountries;

    protected override async Task OnParametersSetAsync()
    {
        Principal = await AuthenticationStateTask.GetClaimsPrincipalAsync();
        Layout = await LayoutService.GetLayoutAsync(Principal, Id);
        if (Layout is not null)
        {
            Meeting = Layout.Meeting;
            IsOrganiser = await MeetingService.IsMeetingOrganiser(Principal, Meeting);
            LayoutParticipants = await LayoutParticipantService.GetAllForLayout(Principal, Id);
            if (LayoutParticipants.Any())
            {
                LayoutModules = LayoutParticipants is null ? [] : LayoutParticipants.SelectMany(lp => lp.LayoutModules).ToList();
                LayoutStations = LayoutParticipants is null ? [] : LayoutParticipants.SelectMany(lp => lp.LayoutStations).ToList();
                foreach (var layoutModule in LayoutModules)
                {
                    layoutModule.LayoutStation = LayoutStations.SingleOrDefault(ls => ls.Station.PrimaryModuleId == layoutModule.ModuleId);
                }
            }
            HasParticipantsFromDifferentCountries = LayoutParticipants!.Select(lp => lp.Person.CountryId).Distinct().Count() > 1;
        }
    }
    string PageHeadingText => $"{Localizer["RegisteredModules"]} {Layout?.DescriptionWithMeetingAndLayoutName()}";

    string WaybillsHref(LayoutModule layoutModule) => $"reports/waybills/layout/{layoutModule.LayoutParticipant.LayoutId}/station/{LayoutStation(layoutModule.LayoutStationId)?.StationId}";

    LayoutStation? LayoutStation(int? id) => id is null || LayoutStations is null ? null : LayoutStations.SingleOrDefault(ls => ls.Id == id);

    async Task NavigateToNewTab(LayoutModule layoutModule)
    {
        await JSRuntime.InvokeAsync<object>("open", WaybillsHref(layoutModule), "_blank");
    }

    MarkupString ParticipantNameAndMore(LayoutParticipant participant) => new(
        HasParticipantsFromDifferentCountries ? $"""<img src="{participant.Person.Country.FlagSrc()}"> {participant.NameWithCityAndCountry()} {participant.Person.EmailIcon()}""" : $"""{participant.NameWithCity()} {participant.Person.EmailIcon()}""");

    string SendMailLabel =>
        OnlyThoseWithOperationsPlaces ? string.Format(Localizer["SendMailTo"], Localizer["OnlyThoseWithOperationsPlaces"].ToString().ToLowerInvariant()) :
        OnlyThoseWithModules ? string.Format(Localizer["SendMailTo"], Localizer["OnlyThoseWithModules"].ToString().ToLowerInvariant()) :
        "SendMailToAll";

    string CopyMailLabel =>
        OnlyThoseWithOperationsPlaces ? string.Format(Localizer["CopyMailAdressesTo"], Localizer["OnlyThoseWithOperationsPlaces"].ToString().ToLowerInvariant()) :
        OnlyThoseWithModules ? string.Format(Localizer["CopyMailAdressesTo"], Localizer["OnlyThoseWithModules"].ToString().ToLowerInvariant()) :
        "CopyAllMailAddresses";

}
