@inject IStringLocalizer<App> Localizer

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" style="margin-left:20px" href="">@Localizer["AppName"] @AppService.AppVersion</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="fa fa-home" aria-hidden="true" />@Localizer["Home"]
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Meetings/Index">
                <span class="@FontAwesome.Meeting" aria-hidden="true" />@Localizer["Meetings"]
            </NavLink>
        </li>
        <AuthorizeView Policy="@AppPolicyNames.User">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Modules/Index">
                    <span class="@FontAwesome.Module" aria-hidden="true" />@Localizer["MyModules"]
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Stations/Index">
                    <span class="@FontAwesome.Station" aria-hidden="true" />@Localizer["MyStations"]
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="FreightCustomers">
                    <span class="@FontAwesome.Customer" aria-hidden="true" />@Localizer["FreightCustomers"]
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Groups/Index">
                    <span class="@FontAwesome.Group" aria-hidden="true" />@Localizer["Groups"]
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Policy="@AppPolicyNames.Admin">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Persons">
                    <span class="@FontAwesome.People" aria-hidden="true" />@Localizer["ModuleOwners"]
                </NavLink>
            </li>
        </AuthorizeView>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ModuleStandards">
                <span class="@FontAwesome.Standard" aria-hidden="true" />@Localizer["ModuleStandards"]
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ModuleStandards/EndProfiles">
                <span class="@FontAwesome.Standard" aria-hidden="true" />@Localizer["ModuleEndProfiles"]
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Regions/Index">
                <span class="fa fa-shield-alt" aria-hidden="true" />@Localizer["Regions"]
            </NavLink>
        </li>
        <AuthorizeView Policy="@AppPolicyNames.User">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="ExternalStations">
                    <span class="@FontAwesome.Station" aria-hidden="true" />@Localizer["ExternalStations"]
                </NavLink>
            </li>
        </AuthorizeView>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Cargo/Index">
                <span class="@FontAwesome.Cargo" aria-hidden="true" />@Localizer["CargoTypes"]
            </NavLink>
        </li>
       <li class="nav-item px-3">
            <NavLink class="nav-link" href="Tools">
                <span class="@FontAwesome.Tools" aria-hidden="true" />@Localizer["Tools"]
            </NavLink>
        </li>
               <li class="nav-item px-3">
            <NavLink class="nav-link" href="Country/Statistics">
                <span class="@FontAwesome.Tools" aria-hidden="true" />@Localizer["Statistics"]
            </NavLink>
        </li>
 @*       <li class="nav-item px-3">
            <NavLink class="nav-link" href="FAQ">
                <span class="@FontAwesome.Tools" aria-hidden="true" />@Localizer["FrequentlyAskedQuestions"]
            </NavLink>
        </li>*@
       <li class="nav-item px-3">
            <NavLink class="nav-link" href="Users/Settings">
                <span class="@FontAwesome.User" aria-hidden="true" />@Localizer["UserSettings"]
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
