@inject IStringLocalizer<App> Localizer

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">@Localizer["AppName"] @AppService.AppVersion</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>@Localizer["Home"]
            </NavLink>
        </li>
        <AuthorizeView Policy="@AppPolicyNames.User">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Modules/Index">
                    <span class="oi oi-list-rich" aria-hidden="true"></span>@Localizer["Modules"]
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Groups/Index">
                    <span class="oi oi-people" aria-hidden="true"></span>@Localizer["Groups"]
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Policy="@AppPolicyNames.Admin">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Persons/Index">
                    <span class="oi oi-person" aria-hidden="true"></span>@Localizer["ModuleOwners"]
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="ModuleStandards/Index">
                    <span class="oi oi-person" aria-hidden="true"></span>@Localizer["ModuleStandards"]
                </NavLink>
            </li>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
