@inject IStringLocalizer<App> Localizer
@inject AppService AppService


<div class="top-row pl-4 navbar navbar-dark">

    <a class="navbar-brand" style="margin-left:10px; margin-bottom:0px" href="">
        @Localizer["AppName"] @AppService.AppVersion
        <span style="display:block; font-size: 7pt">&copy; 2021-@DateTime.Now.Year Tellurian Interactive AB, @LanguageExtensions.GetLocalizedString("Sweden")  </span>
    </a>


    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="fa fa-home" aria-hidden="true" />@Localizer["Home"]
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Content/articles-documentation">
                <span class="fa fa-info-circle" aria-hidden="true" />@Localizer["Documentation"]
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ReleaseNotes">
                <span class="fa fa-info-circle" aria-hidden="true" />Release Notes
            </NavLink>
        </li>
        <li class="nav-item px-3" style="border-top: solid 1px white; border-bottom: solid 1px white">
            <NavLink class="nav-link" href="Meetings/Index">
                <span class="@FontAwesome.Meeting" aria-hidden="true" />@Localizer["Meetings"]
            </NavLink>
        </li>

        <AuthorizeView Policy="@AppPolicyNames.User">
            <li class="nav-item px-3" >
                <NavLink class="nav-link" href="Modules/My">
                    <span class="@FontAwesome.Module" aria-hidden="true" />@Localizer["MyModules"]
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Stations/Index">
                    <span class="@FontAwesome.Stations" aria-hidden="true" />@Localizer["MyOperationLocations"]
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Meetings/My">
                    <span class="@FontAwesome.Meeting" aria-hidden="true" />@Localizer["MyMeetings"]
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="MyVehicles">
                    <span class="@FontAwesome.Vehicle" aria-hidden="true" />@Localizer["MyVehicles"]
                </NavLink>
            </li>
            <li class="nav-item px-3" style="border-bottom: solid 1px white">
                <NavLink class="nav-link" href="Throttles/1">
                    <span class="@FontAwesome.Wifi" aria-hidden="true" />@Localizer["MyThrottles"]
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Policy="@AppPolicyNames.Admin">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href=@PersonsHref>
                    <span class="@FontAwesome.People" aria-hidden="true" />@Localizer["Persons"]
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="vehicles">
                    <span class="@FontAwesome.Train" aria-hidden="true" />@Localizer["Vehicles"]
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="admin/users">
                    <span class="@FontAwesome.User" aria-hidden="true" />@Localizer["Users"]
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Policy="@AppPolicyNames.User">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href=@GroupsHref>
                    <span class="@FontAwesome.Group" aria-hidden="true" />@Localizer["Groups"]
                </NavLink>
            </li>
            <li class="nav-item px-3" style="border-bottom: solid 1px white">
                <NavLink class="nav-link" href="Modules/Index">
                    <span class="@FontAwesome.Modules" aria-hidden="true" />@Localizer["Modules"]
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="FreightCustomers">
                    <span class="@FontAwesome.Customer" aria-hidden="true" />@Localizer["FreightCustomers"]
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="ExternalStations">
                    <span class="@FontAwesome.Station" aria-hidden="true" />@Localizer["ExternalStations"]
                </NavLink>
            </li>
            <li class="nav-item px-3" style="border-bottom: solid 1px white">
                <NavLink class="nav-link" href=@RegionsHref>
                    <span class="fa fa-shield-alt" aria-hidden="true" />@Localizer["Regions"]
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Policy="@AppPolicyNames.Admin">
            <li class="nav-item px-3" style="border-bottom: solid 1px white">
                <NavLink class="nav-link" href="Throttles">
                    <span class="@FontAwesome.Wifi" aria-hidden="true" />@Localizer["Throttles"]
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Policy="@AppPolicyNames.User">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="ModuleStandards">
                    <span class="@FontAwesome.Standard" aria-hidden="true" />@Localizer["ModuleStandards"]
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="ModuleStandards/EndProfiles">
                    <span class="@FontAwesome.Standard" aria-hidden="true" />@Localizer["ModuleEndProfiles"]
                </NavLink>
            </li>
            <li class="nav-item px-3" style="border-bottom: solid 1px white">
                <NavLink class="nav-link" href="Cargo/Index">
                    <span class="@FontAwesome.Cargo" aria-hidden="true" />@Localizer["CargoTypes"]
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Tools">
                    <span class="@FontAwesome.Tools" aria-hidden="true" />@Localizer["Tools"]
                </NavLink>
            </li>
        </AuthorizeView>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Users/Settings">
                <span class="@FontAwesome.User" aria-hidden="true" />@Localizer["UserSettings"]
            </NavLink>
        </li>
        <li class="nav-item px-3" style="border-bottom: solid 1px white">
            <NavLink class="nav-link" href="Country/Statistics">
                <span class="fa fa-flag" aria-hidden="true" />@Localizer["Statistics"]
            </NavLink>
        </li>
        <div style="color: white" class="nav-item px-3">@Localizer["ExternalLinks"]:</div>
        <li class="nav-item px-3">
            <a class="nav-link" href="https://wagoncardapp.azurewebsites.net/" target="_blank">
                <span class="fa fa-train" aria-hidden="true" />@Localizer["LokAndWagonCards"]
            </a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="@FastclockHref" target="_blank">
                <span class="fa fa-clock" aria-hidden="true" />@Localizer["FastClock"]
            </a>
        </li>
        <li class="nav-item px-3" style="border-bottom: solid 1px white">
            <a class="nav-link" href="https://github.com/tellurianinteractive/Tellurian.Trains.ModulesRegistryApp/" target="_blank">
                <span style="padding-right:4px"class="fab fa-github" aria-hidden="true" /> GitHub
            </a>
        </li>
    </ul>
</div>

@code {

    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    [CascadingParameter] private Task<AuthenticationState>? authenticationStateTask { get; set; }
    ClaimsPrincipal? Principal;


    protected override async Task OnInitializedAsync()
    {
        Principal = await authenticationStateTask.GetClaimsPrincipalAsync();
    }

    private string FastclockHref =>
        Principal is not null && Principal.GivenName().HasValue() ? $"https://fastclock.azurewebsites.net/user/{System.Web.HttpUtility.UrlEncode(Principal.GivenName())}" :
        "https://fastclock.azurewebsites.net/";

    string PersonsHref => $"Persons/Country/{AppService.LastCountryId}";
    string RegionsHref => $"Regions/Country/{AppService.LastCountryId}";
    string GroupsHref => $"Groups/Country/{AppService.LastCountryId}";

}
