@inject IStringLocalizer<App> Localizer

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly" >
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <div class="alert alert-danger">
                        <h2><span class="oi oi-circle-x" /> @Localizer["YouAreNotAuthorizedToViewThisPage"]</h2>
                        <ContentView ContentName="ReasonsForNotAuthorised" />
                    </div>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <div class="alert alert-warning">
                    <h2><span class="oi oi-link-broken" /> @Localizer["SorryNothingToDisplayHere"]</h2>
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {

}
