@page "/Meetings/Index"
@page "/Meetings/{countryid:int}/Index"

@inject IStringLocalizer<App> Localizer
@inject ITimeProvider TimeProvider

@inject MeetingService MeetingService
@inject GroupService GroupService

<PageHeading ObjectName="Meetings" IconClass="@FontAwesome.Meeting" PageAction="PageAction.List" />

@if (Principal.IsAuthenticated())
{
    <div class="col-12">
        <a class="btn btn-secondary btn-sm" href="Meetings/0/edit"><span class="@FontAwesome.Add" /> @Localizer["Add"]</a>
    </div>
}

<TableTemplate Items="Meetings">
    <TableHeader>
        <th>@Localizer["Meeting"]</th>
        <th>@Localizer["Country"]</th>
        <th>@Localizer["Venue"]</th>
        <th>@Localizer["StartDate"]</th>
        <th>@Localizer["EndDate"]</th>
        <th>@Localizer["Status"]</th>
        <th>@Localizer["Actions"]</th>
    </TableHeader>
    <RowTemplate Context="item">
        <td>@item.meeting.Description</td>
        <td>@item.meeting.OrganiserGroup.Country.EnglishName.AsLocalized()</td>
        <td>@item.meeting.PlaceName</td>
        <td align="center">@item.meeting.StartDate.ToString("d")</td>
        <td align="center">@item.meeting.EndDate.ToString("d")</td>
        <td class="@MeetingStatusCssClass(item.meeting)" align="center">@item.meeting.Status.MeetingStatus()</td>
        <td>
            <a class="btn btn-info btn-sm" href="Meetings/@item.meeting.Id/View"><span class="@FontAwesome.View" /> @Localizer["View"]</a>
            @if (MayRegister(item.meeting))
            {
                <a class="btn btn-secondary btn-sm" href="Meetings/@item.meeting.Id/Register"><span class="@FontAwesome.Register" /> @Localizer["Register"]</a>
            }
            @if (item.MayEdit)
            {
                <a class="btn btn-primary btn-sm" href="Meetings/@item.meeting.Id/Edit"><span class="@FontAwesome.Edit" /> @Localizer["Edit"]</a>
            }
        </td>
    </RowTemplate>
</TableTemplate>


@code {
    [CascadingParameter] private Task<AuthenticationState>? AuthenticationStateTask { get; set; }
    [Parameter] public int CountryId { get; set; }
    ClaimsPrincipal? Principal;
    IEnumerable<(bool MayEdit, Meeting meeting)>? Meetings;
    bool MayRegister(Meeting meeting) => 
        Principal.IsAnyAdministrator() || 
        (Principal.IsAuthenticated() && meeting.IsOpenForRegistration(TimeProvider.Now.DateTime));

    string MeetingOrganiser(Meeting it) => it.IsFremo ? $"{it.OrganiserGroup.FullName}/FREMO" : it.OrganiserGroup.FullName;

    string MeetingStatusCssClass(Meeting meeting) =>
        meeting.IsCancelled() ? "meeting cancelled" :
        meeting.IsOpenForRegistration(TimeProvider.Now.Date) ? "meeting open" :
        "meeting closed";

    protected override async Task OnParametersSetAsync()
    {
        Principal = await AuthenticationStateTask.GetClaimsPrincipalAsync();
        Meetings = await MeetingService.GetAllAsync(Principal, CountryId);
    }
}
