@page "/Groups/{groupid:int}/Members/Add"

@attribute [Authorize(Policy = "User")]

@inject IStringLocalizer<App> Localizer
@inject IToastService ToastService

@inject NavigationManager Navigator
@inject GroupService GroupService
@inject PersonService PersonService
@inject CountryService CountryService

<PageHeading Label="AddMemberIn" Owner="Group" IconClass="@FontAwesome.Group" PageAction="PageAction.List" HelpContext="AddGroupMember" ShowHelpInitially="true"/>

@if (MayEdit)
{
    <ListboxSelector OnSelected="OnSelectedCountry" Items="Countries" ItemType="Country" IsVisible="true" SelectedId="@CountryId" />

    <EditForm Model="@GroupMember" OnValidSubmit="@OnValidSubmit" Class="row g-3">
        <FluentValidationValidator />
        <ValidationSummary />
        <div class="col-md-4">
            <label class="form-control-label" for="personid">@SearchLabel</label>
            <BlazoredTypeahead SearchMethod="SearchPersons" @bind-Value="GroupMember.PersonId" ConvertMethod="ConvertPerson" MinimumLength="MinimumSearchCharacters" MaximumSuggestions="10" EnableDropDown="true" Class="form-select">
                <SelectedTemplate Context="personId">
                    @{
                            var selectedPerson = SelectedPerson(personId);
                        <text>@selectedPerson?.Description</text>
                    }
                </SelectedTemplate>
                <ResultTemplate Context="person">
                    @person.Description
                </ResultTemplate>
                <NotFoundTemplate>
                    <div>
                        <span>
                            @Localizer["NotFound"]
                            <a class="btn btn-link" href="persons/0/editgroup/@GroupId">@Localizer["Add"]</a>
                        </span>
                    </div>
                </NotFoundTemplate>
            </BlazoredTypeahead>
            <ValidationMessage For="@(() => GroupMember.Person)" />
        </div>
        <AppInputFill Width="8" />
        <AppInputCheck Width="3" Label="IsGroupAdministrator" @bind-Value="GroupMember.IsGroupAdministrator" />
        <AppInputCheck Width="3" Label="IsDataAdministrator" @bind-Value="GroupMember.IsDataAdministrator" />
        <AppInputCheck Width="3" Label="MayBorrowGroupsModules" @bind-Value="GroupMember.MayBorrowGroupsModules" />
        <AppInputCheck Width="3" Label="MemberMayBorrowMyModules" @bind-Value="GroupMember.MemberMayBorrowMyModules" />
        <div class="col-12">
            <button type="submit" class="btn btn-sm btn-primary"><span class="@FontAwesome.Save" aria-hidden="true" />@Localizer["Save"]</button>
        </div>
    </EditForm>
}
else
{
    <ActionMessage Label="NotAuthorised" />
}
@code {
    [CascadingParameter] private Task<AuthenticationState>? AuthenticationStateTask { get; set; }
    [Parameter] public int? GroupId { get; set; }

    ClaimsPrincipal? Principal;
    Group? Group;
    GroupMember GroupMember = new GroupMember();
    IEnumerable<ListboxItem>? Persons;
    IEnumerable<ListboxItem>? Countries;
    int CountryId;
    bool MayEdit;
    const int MinimumSearchCharacters = 3;

    protected override async Task OnInitializedAsync()
    {
        Principal = await AuthenticationStateTask.GetClaimsPrincipalAsync();
        CountryId = Principal.CountryId();
    }

    protected async override Task OnParametersSetAsync()
    {
        MayEdit = GroupId.HasValue ? await GroupService.IsGroupMemberAdministratorAsync(Principal, GroupId.Value) : false;
        Countries = await CountryService.ListboxItemsAsync(Principal, MayEdit);
        await RefreshData();
    }

    protected async Task RefreshData()
    {
        if (GroupId.IsSet())
        {
            Group = await GroupService.FindByIdAsync(Principal, GroupId.Value);
            if (Group is not null)
            {
                Persons = await PersonService.ListboxItemsAsync(Principal, Group.CountryId, Group.Id);
                GroupMember.GroupId = Group.Id;
            }
        }
    }

    void OnSelectedPerson(int id)
    {
        if (GroupMember is not null) GroupMember.PersonId = id;
    }

    async Task<IEnumerable<ListboxItem>> SearchPersons(string searchText)
    {
        return await Task.FromResult<IEnumerable<ListboxItem>>(Persons is null ? Array.Empty<ListboxItem>() :
        Persons.Where(p => !p.IsHidden && p.Description.ToLowerInvariant().Contains(searchText.ToLowerInvariant())).ToList());
    }

    async Task OnValidSubmit()
    {
        var result = await GroupService.AddMemberAsync(Principal, GroupMember);
        ToastService.ShowSuccessOrFailure(Localizer, result.Count, result.Message);
        await Task.Delay(3000);
        if (result.Count > 0) Navigator.NavigateTo($"/Groups/{GroupMember.GroupId}/Members");
    }

    async Task OnSelectedCountry(int countryId)
    {
        CountryId = countryId;
        Persons = await PersonService.ListboxItemsAsync(Principal, countryId, Group?.Id ?? 0);
    }

    string AddPersonHref(int? groupId) => $"persons/0/editgroup/{groupId}";

    string SearchLabel => Localizer.SearchObject("Person", MinimumSearchCharacters);
    int ConvertPerson(ListboxItem person) => person.Id;
    ListboxItem? SelectedPerson(int? id) => id is null ? null : Persons?.FirstOrDefault(p => p.Id == id.Value);
}
