@page "/Groups/{groupid:int}/Members"

@attribute [Authorize(Policy = "User")]

@inject IStringLocalizer<App> Localizer

@inject GroupService GroupService
@inject CountryService CountryService

<h1><span class="fa fa-user-friends" aria-hidden="true" /> @Heading</h1>
@if (Group is null)
{

}
else
{
    <a class="btn btn-sm btn-secondary" href="groups/@Group.Id/members/add"><span class="fa fa-user-plus" />@Localizer["Add"]</a>
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th>@Localizer["FirstName"]</th>
                <th>@Localizer["LastName"]</th>
                <th>@Localizer["IsGroupAdministrator"]</th>
                <th>@Localizer["IsDataAdministrator"]</th>
                <th>@Localizer["Actions"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Group.GroupMembers)
            {
                <tr>
                    <td>@item.Person.FirstName</td>
                    <td>@item.Person.LastName</td>
                    <td>@item.IsGroupAdministrator.AsYesNo()</td>
                    <td>@item.IsDataAdministrator.AsYesNo()</td>
                    <td style="white-space: nowrap !important;">
                        <a class="btn btn-sm btn-primary" href="groups/@item.GroupId/members/@item.Id/edit"><span class="fa fa-edit" />@Localizer["Edit"]</a>
                        <a class="btn btn-sm btn-info" href="persons/@item.PersonId/modules"><span class="fa fa-boxes" />@Localizer["Modules"]</a>
                        <a class="btn btn-sm btn-info" href="persons/@item.PersonId/stations"><span class="fa fa-school" />@Localizer["Stations"]</a>
                        @*<a class="btn btn-sm btn-warning" href="groups/@item.GroupId/members/@item.Id/remove"><span class="fa fa-trash" />@Localizer["Remove"]</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    [CascadingParameter] private Task<AuthenticationState>? AuthenticationStateTask { get; set; }
    [Parameter] public int? GroupId { get; set; }

    private ClaimsPrincipal? Principal;
    private Group? Group;

    protected async override Task OnParametersSetAsync()
    {
        Principal = await AuthenticationStateTask.GetClaimsPrincipalAsync();
        if (GroupId.IsSet())
        {
            Group = await GroupService.FindByIdAsync(Principal, GroupId.Value);
        }
    }

    private string Heading => Localizer["MembersIn"] + " " + Group?.FullName;

}
