@page "/vehicles/"
@page "/vehicles/country/{CountryId:int}"
@page "/vehicles/my"

@attribute [Authorize(Policy = "User")]

@inject IStringLocalizer<App> Localizer
@inject ILocalStorageService LocalStorage
@inject NavigationManager Navigator
@inject VehicleService VehicleService
@inject CountryService CountryService
@inject AppService AppService

<PageHeading Label="@Label" IconClass="@FontAwesome.Train" PageAction="@PageAction.List"></PageHeading>

<ListboxSelector OnSelected="OnSelectedCountry" Items="Countries" ItemType="Country" IsVisible="IsSelectCountryVisible" SelectedId=CountryId />

@if (MayEdit)
{
    <AppButton Href="@AddHref" Label="Add" />
}
@if (Filter.HasFilter)
{
    <span style="padding-left: 20px">@Localizer["Filter"]: @Filter.ToString()</span>
}
<hr />
<QuickGrid Items="FilteredVehicles" Virtualize="true" Pagination="PaginationState">
    @if (!IsMyVehiclesPage)
    {
        <PropertyColumn Title="@Localizer["Owner"]" Property="v => v.OwningPerson.Name()" Sortable="true" />
    }
    <TemplateColumn Context="v">
        @v.ImageIcon()
    </TemplateColumn>
    <PropertyColumn Title="@Localizer["PrototypeInfo"]" Property="v => v.PrototypeInfo()" Sortable="true">
        <ColumnOptions>
            <div class="search-box">
                <input type="search" autofocus @bind="@Filter.PrototypeInfo" @bind:event="oninput" @onchange="@OnFilterChanged" placeholder="@Localizer["PrototypeInfo"]" />
            </div>
        </ColumnOptions>
    </PropertyColumn>
    <PropertyColumn Title="@Localizer["ModelInfo"]" Property="v => v.ModelInfo()" Sortable="true" >
        <ColumnOptions>
            <div class="search-box">
                <input type="search" autofocus @bind="@Filter.ModelInfo" @bind:event="oninput" @onchange="@OnFilterChanged" placeholder="@Localizer["ModelInfo"]" />
            </div>
        </ColumnOptions>
    </PropertyColumn>
    <PropertyColumn Title="@Localizer["Scale"]" Property="v => v.Scale.Display()" Sortable="true" />
    <PropertyColumn Title="@Localizer["Period"]" Property="v => v.PeriodInfo()" Sortable="true" />
    <TemplateColumn Title="@Localizer["Features"]" Context="vehicle">
        @vehicle.Features(Localizer)
    </TemplateColumn>
    <PropertyColumn Title="@Localizer["InventoryNumber"]" Property="v => v.InventoryNumber" Sortable="true" Align="Align.Right"></PropertyColumn>
    <TemplateColumn Title="@Localizer["Actions"]" Context="vehicle" Class="noprint">
        @if (MayEdit)
        {
            <AppButton Href="@EditHref(vehicle)" Label="Edit" />
        }
    </TemplateColumn>

</QuickGrid>
<Paginator State="PaginationState" />

@code {
    [CascadingParameter] private Task<AuthenticationState>? authenticationStateTask { get; set; }
    [Parameter] public int CountryId { get; set; }
    VehicleFilter Filter = new();
    ClaimsPrincipal? Principal;
    IEnumerable<ListboxItem>? Countries;
    IEnumerable<Vehicle>? Vehicles;
    IQueryable<Vehicle> FilteredVehicles => Vehicles is null ? Enumerable.Empty<Vehicle>().AsQueryable() :
        Vehicles.Where(v => (Filter.PrototypeInfo.HasNoValue() || v.PrototypeInfo().Contains(Filter.PrototypeInfo, StringComparison.OrdinalIgnoreCase))
        && (Filter.ModelInfo.HasNoValue() || v.ModelInfo().Contains(Filter.ModelInfo, StringComparison.OrdinalIgnoreCase))).AsQueryable();

    bool MayEdit;
    bool IsMyVehiclesPage;
    PaginationState PaginationState = new() { ItemsPerPage = 30 };

    protected override async Task OnInitializedAsync()
    {
        Principal = await authenticationStateTask.GetClaimsPrincipalAsync();
        Countries = await CountryService.ListboxItemsAsync(Principal);
    }

    protected override async Task OnParametersSetAsync()
    {
        Filter = await LocalStorage.GetItemAsync<VehicleFilter>("VehicleFilter") ?? new();
        MayEdit = Principal.IsAuthenticated();
        IsMyVehiclesPage = Navigator.Uri.Contains("My", StringComparison.OrdinalIgnoreCase);
        if (IsMyVehiclesPage)
        {
            Vehicles = await VehicleService.GetPersonsOwnedVehiclesAsync(Principal, Principal.PersonId());
        }
        else
        {
            Vehicles = await VehicleService.GetVehiclesByOwnerCountryAsync(Principal, CountryId);
        }
    }


    private void OnSelectedCountry(int id)
    {
        if (id > 0)
        {
            AppService.LastCountryId = id;
            Navigator.NavigateTo($"/Vehicles/Country/{id}");
        }
    }

    private void OnFilterChanged()
    {
        LocalStorage.SetItemAsync("VehicleFilter", Filter);
    }

    string Label => IsMyVehiclesPage ? "MyVehicles" : "Vehicles";

    string EditHref(Vehicle vehicle) => 
        IsMyVehiclesPage ? $"/vehicles/my/{vehicle.Id}" : 
        $"/vehicles/{vehicle.Id}/country/{CountryId}/edit";

    string AddHref => 
        IsMyVehiclesPage ? $"/vehicles/my/0" : 
        $"vehicles/0/country/{CountryId}/edit";
    
        bool IsSelectCountryVisible => !IsMyVehiclesPage && (Principal.IsGlobalAdministrator() || Principal.IsCountryAdministratorInCountry(CountryId));
}


