@page "/Persons/{id:int}/Delete"

@attribute [Authorize(Policy = "Admin")]

@inject IStringLocalizer<App> Localizer
@inject IToastService ToastService
@inject PersonService PersonService

@inject PageHistory PageHistory

<PageHeading ObjectName="Person" Owner="@Person" IconClass="@FontAwesome.User" PageAction="PageAction.Delete" />

@if (Person is null)
{

}
else
{
    <div>
        @Person.FirstName @Person.LastName, @Person.CityName
    </div>
}
<div class="col-12">
    <button class="btn btn-danger" @onclick="OnDelete"><span class="@FontAwesome.Delete" />@Localizer["Delete"]</button>
</div>

@code {
    [CascadingParameter] private Task<AuthenticationState>? AuthenticationStateTask { get; set; }
    [Parameter] public int? Id { get; set; }
    private ClaimsPrincipal? Principal;

    private Person? Person;

    protected async override Task OnParametersSetAsync()
    {
        Principal = await AuthenticationStateTask.GetClaimsPrincipalAsync();
        if (Principal is null || Id.IsNotSet()) return;
        Person = await PersonService.FindByIdAsync(Principal, Id.Value);
    }

    private async Task OnDelete()
    {
        if (Id.IsNotSet()) return;
        var result = await PersonService.DeleteAsync(Principal, Id.Value);
        ToastService.ShowSuccessOrFailure(Localizer, result.Count, result.Message);
        await Task.Delay(3000);
        if (PageHistory.CanNavigateBack) PageHistory.NavigateBack();
    }
}
