@page "/Persons/Index"
@attribute [Authorize(Policy = "Admin")]
@inject IStringLocalizer<App> Localizer
@inject IPersonService PersonService
@inject ICountryService CountryService


<h1>@Localizer["Users"]</h1>
@if (Items is not null)
{
    <div class="input-group col-md-3">
        <select class="form-control " id="countryid" @bind="@CurrentCountryId" @onselect="OnSelectedCountry">
            <option value="0">Select</option>
            @foreach (var item in Items)
            {
                <option value="@item.Id">@item.Description</option>
            }
        </select>
        <button disabled="@(CurrentCountryId == 0)" class="btn btn-primary" @onclick="OnSelectedCountry">Fetch</button>
    </div>
}

@if (People is null)
{
    @if (IsLoading)@Localizer["GettingData"];
}
else
{
    <table class="table table-striped table-responsive-sm">
        <thead>
            <tr>
                <th>@Localizer["FirstName"]</th>
                <th>@Localizer["LastName"]</th>
                <th>@Localizer["Email"]</th>
                <th>@Localizer["City"]</th>
                <th>@Localizer["IsUser"]</th>
                <th>@Localizer["Action"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in People)
            {
                <tr>
                    <td>@person.FirstName</td>
                    <td>@person.LastName</td>
                    <td>@person.EmailAddresses</td>
                    <td>@person.CityName</td>
                    <td style="text-align: center">@((person.UserId > 0).AsYesNo())</td>
                    <td style="white-space: nowrap !important;">
                        <a class="btn btn-sm btn-secondary" href="persons/edit/@person.Id">@Localizer["Edit"]</a>
                        @if (person.User is null)
                        {
                            <a class="btn btn-sm btn-warning" href="persons/delete/@person.Id">@Localizer["Delete"]</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [CascadingParameter] private Task<AuthenticationState>? AuthenticationStateTask { get; set; }
    private IEnumerable<Person>? People;
    private IEnumerable<ListboxItem> Items = Array.Empty<ListboxItem>();
    private int CurrentCountryId;
    private bool IsLoading;

    protected async override Task OnInitializedAsync()
    {
        var principal = await AuthenticationStateTask.GetClaimsPrincipalAsync();
        Items = await CountryService.ListboxItemsAsync(principal);
        if (Items.Count() == 1) CurrentCountryId = Items.First().Id;
        await GetPersons();
    }

    private async Task OnSelectedCountry(EventArgs e)
    {
        await GetPersons();
    }

    private async Task GetPersons()
    {
        if (CurrentCountryId > 0)
        {
            IsLoading = true;
            StateHasChanged();
            People = await PersonService.GetAllAsync(CurrentCountryId);
            IsLoading = false;
        }
    }
}
