@using System.Security.Claims

@page "/Persons/Index"
@page "/Persons/Index/{countryId:int}"

@attribute [Authorize(Policy = "Admin")]

@inject IStringLocalizer<App> Localizer

@inject PersonService PersonService
@inject CountryService CountryService

<PageHeading ObjectName="ModuleOwners" IconClass="@FontAwesome.People" PageAction="@PageAction.List" />

<ListboxSelector OnSelected="OnSelectedCountry" Items="Countries" ItemType="Country" IsVisible="IsSelectCountryVisible" />

@if (CountryId > 0)
{
    <div class="col-12">
        <a class="btn btn-secondary btn-sm" href="persons/0/edit/@CountryId"><span class="@FontAwesome.Add" /> @Localizer["Add"]</a>
    </div>
}

<TableTemplate Items="People" HideNoRecordsToDisplay="true">
    <TableHeader>
        <th>@Localizer["Name"]</th>
        <th>@Localizer["City"]</th>
        <th style="text-align: center">@Localizer["IsUser"]</th>
        <th>@Localizer["Actions"]</th>
    </TableHeader>
    <RowTemplate Context="person">
        <td>@Name(person)</td>
        <td>@person.CityName</td>
        <td style="text-align: center">@UserStatus(person)</td>
        <td style="white-space: nowrap !important;">
            @if (Principal.IsAuthorisedInCountry(person.CountryId))
            {
                <a class="btn btn-sm btn-primary" href="persons/@person.Id/edit"><span class="@FontAwesome.Edit" />@Localizer["Edit"]</a>
                <a class="btn btn-sm btn-info" href="persons/@person.Id/modules"><span class="@FontAwesome.Modules" />@Localizer["Modules"]</a>
                <a class="btn btn-sm btn-info" href="persons/@person.Id/stations"><span class="@FontAwesome.Station" />@Localizer["Stations"]</a>
                @if (person.MayBeInvited())
                {
                    <a class="btn btn-sm btn-secondary" href="persons/@person.Id/invite"><span class="@FontAwesome.Invite" />@Localizer["Invite"]</a>
                }
                @if (person.UserId is null)
                {
                    <a class="btn btn-sm btn-danger" href="persons/@person.Id/delete"><span class="@FontAwesome.Delete" />@Localizer["Delete"]</a>
                }
            }
        </td>
    </RowTemplate>
</TableTemplate>


@code {
    [CascadingParameter] private Task<AuthenticationState>? AuthenticationStateTask { get; set; }
    [Parameter] public int CountryId { get; set; }
    private ClaimsPrincipal? Principal;
    private IEnumerable<Person>? People = Array.Empty<Person>();
    private IEnumerable<ListboxItem>? Countries;

    private async Task OnSelectedCountry(int id)
    {
        CountryId = id;
        await GetPersons(id);
    }

    protected async override Task OnInitializedAsync()
    {
        Principal = await AuthenticationStateTask.GetClaimsPrincipalAsync();
        Countries = await CountryService.ListboxItemsAsync(Principal);
        var countryId = CountryId > 0 ? CountryId : Countries.Count() == 1 ? Countries.First().Id : 0;
        await GetPersons(countryId);
    }

    private async Task GetPersons(int id)
    {
        if (id > 0)
        {
            People = null;
            StateHasChanged();
            People = await PersonService.GetAllInCountryAsync(Principal, id);
        }
    }

    private bool IsSelectCountryVisible => Countries is not null && Countries.Count() > 1;
    private string? UserStatus(Person person) =>
        person.User is null ? Localizer["No"] :
        person.User.HashedPassword.HasNoValue() ? Localizer["Invited"] :
        person.User.LastSignInTime.HasValue ? string.Format(LanguageService.CurrentCulture, "{0:g}", person.User.LastSignInTime) :
        Localizer["Yes"];

    private string Name(Person person) => person.MiddleName.HasNoValue() ? $"{person.FirstName} {person.LastName}" : $"{person.FirstName} {person.MiddleName} {person.LastName}";
}
