@using System.Text
@using System.Net.Mail;
@page "/Persons/{id:int}/Invite"
@attribute [Authorize(Policy = "Admin")]

@inject NavigationManager Navigator
@inject IStringLocalizer<App> Localizer
@inject IPersonService PersonService
@inject IUserService UserService
@inject IContentService ContentService
@inject IMailSender MailSender
@inject ICountryService CountryService

<h1><span class="fa fa-user" /> @Localizer["Invite"] @Person?.FirstName @Person?.LastName</h1>
@if (CanSend)
{
    <h2>@Localizer["Message"]</h2>
    <hr />
    @((MarkupString)Html)
    <hr />
    <button class="btn btn-primary" @onclick="Send"><span class="fa fa-envelope"/>@Localizer["Send"]</button>
}
else
{
    @Localizer["InvitedPersonHasNoEmail"];
}
@if (IsSent)
{
    <div class="alert alert-success">
        @Localizer["InvitationSent"]
    </div>
}


@code {
    [CascadingParameter] private Task<AuthenticationState>? AuthenticationStateTask { get; set; }
    [Parameter] public int Id { get; set; }
    private Person? Inviter;
    private Person? Person;
    private User? User;
    private string Html = string.Empty;
    private bool IsSent;
    ClaimsPrincipal? Principal;

    override protected async Task OnInitializedAsync()
    {
        Principal = await AuthenticationStateTask.GetClaimsPrincipalAsync();
        if (Principal is null) return;
        var userId = Principal.UserId();
        Inviter = await PersonService.FindByUserIdAsync(Principal, userId);
        Person = await PersonService.FindByIdAsync(Principal, Id);
        if (PersonHasEmail)
        {
            User = await UserService.FindOrCreateAsync(PrimaryEmail(Person!), null);
            if (User is null) return;
            var userCountry = await CountryService.FindById(Person!.CountryId);
            if (userCountry is null) return;
            Html = await GetMessageHtml(userCountry.Languages.Items()[0]);
        }
    }

    private async Task Send()
    {
        var message = new MailMessage();
        message.To.Add(new MailAddress(User!.EmailAddress, $"{Person!.FirstName} {Person!.LastName}"));
        message.Subject = Localizer["InvitationToModuleRegistry"];
        message.Body = Html;
        message.IsBodyHtml = true;
        var count = await MailSender.SendMailMessageAsync(message);
        IsSent = count > 0;
    }

    private bool CanSend => PersonHasEmail && User is not null && User.HashedPassword.HasNoValue();
    private bool PersonHasEmail => Person is not null && Person.EmailAddresses.HasValue();
    private string PrimaryEmail(Person person) => person.EmailAddresses.Split(';')[0];

    private string ConfirmationLink => $"{Navigator.BaseUri}/users/confirm?email={PrimaryEmail(Person!)}&objectid={User?.ObjectId}";
    private string ConfirmationLinkTag(string? userLanguage) => $"<p><a href=\"{ConfirmationLink}\">{LanguageService.GetString("CreatePassword", userLanguage)}</a></p>";

    private async Task<string> GetMessageHtml(string? userLanguage = null)
    {
        if (Inviter is null) return string.Empty;
        var text = new StringBuilder(1000);
        var markdown = await ContentService.GetTextContent("Invitation", userLanguage);
        text.Append("<h1>");
        text.Append(LanguageService.GetString("Hello", userLanguage));
        text.Append(' ');
        text.Append(Person!.FirstName);
        text.AppendLine("</h1>");
        text.AppendLine(markdown.AsHtml);
        text.AppendLine(ConfirmationLinkTag(userLanguage));
        text.Append($"<p>{LanguageService.GetString("BestRegards", userLanguage)}</p>");
        text.Append($"<p>{Inviter.FirstName} {Inviter.LastName}</p>");
        return text.ToString();
    }
}
